$margin-size: var(--system-size-s);
$space: var(--system-size-xs);

.path {
  background-color: var(--terminal-input-path-bg-color);
  &:before {
    background-color: var(--system-color-primary);
    color: var(--system-color-accent);
    padding: 0 $space;
    margin-right: $space;
    content: '\2126';
  }
  & > .branch {
    background-color: var(--terminal-input-branch-bg-color);
    color: var(--system-color-primary);
    padding: 0 $space;
    margin-left: $space;
    &.rainbow {
      animation: rainbow-bg 2.5s linear;
      animation-iteration-count: infinite;
    }
  }
}

.input {
  font-size: var(--terminal-input-font-size);
  font-weight: var(--terminal-input-font-weight);
  color: var(--terminal-input-color);
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 var(--system-size-xs);
  &:focus {
    outline: none;
  }
}

.date {
  color: var(--terminal-input-date-color) !important;
  position: absolute;
  right: var(--system-size-s);
  opacity: 1;
  transition: all 1s;
  &.hide {
    opacity: 0;
  }
}
.command {
  margin-left: var(--system-size-xs);
}

@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
