$checkbox-width: var(--system-size-s);
$checkbox-height: $checkbox-width;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $checkbox-height;

  .checkbox_checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: $checkbox-height;
    width: $checkbox-width;
    border-radius: var(--checkbox-border-radius);
    border: 1px solid var(--checkbox-border-color);
    cursor: pointer;
  }

  .checkbox_label {
    display: flex;
    color: var(--checkbox-label-color);
    margin-left: var(--system-size-xs);
    cursor: pointer;
  }

  .checkbox_input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + .checkbox_checkmark {
      background-color: var(--checkbox-bg-color);
      border-color: var(--checkbox-bg-color);
      &:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 60%;
        border: solid var(--checkbox-checkmark-color);
        border-width: 0 2.5px 2.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    &:disabled {
      background-color: var(--checkbox-disabled-bg-color);
      cursor: default;
      color: var(--checkbox-disabled-label-color);
      & + .checkbox_checkmark {
        background-color: var(--checkbox-disabled-bg-color);
        border-color: var(--checkbox-disabled-border-color);
        cursor: default;
      }
      & ~ .checkbox_label {
        color: var(--checkbox-disabled-label-color);
        cursor: default;
      }
      &:not(:checked) + .checkbox_checkmark {
        background-color: transparent;
        border-color: var(--checkbox-disabled-border-color);
      }
      &:hover:not(:disabled) + .checkbox_checkmark {
        opacity: 0.75;

        & ~ .checkbox_label {
          color: var(--checkbox-hover-color);
        }
      }
    }
  }
}
