.container {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: var(--metrics-min-width);
  background-color: var(--input-bg-color);
  border-radius: var(--input-border-radius);
  width: 100%;
  box-sizing: border-box;
  & > .icon {
    &.start {
      margin-left: var(--system-size-s);
    }
    &.end {
      margin-right: var(--system-size-s);
    }
  }
  &.disabled {
    background-color: var(--input-disabled-bg-color);
    opacity: 0.4;
    > .input::placeholder {
      color: var(--input-disabled-text-color);
    }
    > .icon > svg > path {
      fill: var(--input-disabled-text-color);
    }
  }
  &:focus-within {
    & > .input {
      outline: none;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 95%;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: var(--system-size-s);
      z-index: -1;
      box-shadow: 0px 3px 3px var(--system-color-accent);
    }
  }
}

.input {
  color: var(--input-text-color);
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: var(--input-border-radius);
  font-size: 16px;
  padding: var(--system-size-s) var(--system-size-m);
  box-sizing: border-box;
  cursor: text;

  &::placeholder {
    color: var(--input-placeholder-color);
  }
  &:disabled {
    cursor: default;
  }
}
