.container {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: var(--metrics-min-width);
  background-color: var(--input-bg-color);
  border-radius: var(--input-border-radius);
  width: 100%;
  box-sizing: border-box;

  & > .icon {
    &.start,
    &.end {
      margin: 0 var(--system-size-s);
    }
    > svg > path {
      fill: var(--input-text-color);
    }
  }
  &.disabled {
    background-color: var(--input-disabled-bg-color);
    opacity: 0.4;
    > .input::placeholder {
      color: var(--input-disabled-text-color);
    }
    > .icon > svg > path {
      fill: var(--input-disabled-text-color);
    }
  }
}

.input {
  position: relative;
  color: var(--input-text-color);
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: var(--system-size-s);
  box-sizing: border-box;
  cursor: text;
  border-left: 3px solid transparent;

  &::placeholder {
    color: var(--input-placeholder-color);
  }
  &:disabled {
    cursor: default;
  }
  &:focus {
    outline: none;
    border-left: 3px solid var(--input-text-color);
  }
}
