.icon {
  display: inline-flex;
  & > svg {
    width: 100%;
    height: 100%;
  }
  &.primary > svg {
    fill: var(--icon-color-primary);
    color: var(--icon-color-primary);
    & > path {
      fill: var(--icon-color-primary);
      color: var(--icon-color-primary);
    }
  }
  &.secondary > svg {
    fill: var(--icon-color-secondary);
    color: var(--icon-color-secondary);
    & > path {
      fill: var(--icon-color-secondary);
      color: var(--icon-color-secondary);
    }
  }
  &.disabled > svg {
    fill: var(--icon-color-disabled);
    color: var(--icon-color-disabled);
    & > path {
      fill: var(--icon-color-disabled);
      color: var(--icon-color-disabled);
    }
  }
  &.xs {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }
  &.s {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
  }
  &.m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }
  &.l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }
  &.xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}
