.icon {
  display: inline-flex;
  &.primary > svg {
    fill: var(--icon-primary-color);
    color: var(--icon-primary-color);
    & > path {
      fill: var(--icon-primary-color);
      color: var(--icon-primary-color);
    }
  }
  &.secondary > svg {
    fill: var(--icon-secondary-color);
    color: var(--icon-secondary-color);
    & > path {
      fill: var(--icon-secondary-color);
      color: var(--icon-secondary-color);
    }
  }
  &.disabled > svg {
    fill: var(--icon-disabled-color);
    color: var(--icon-disabled-color);
    & > path {
      fill: var(--icon-disabled-color);
      color: var(--icon-disabled-color);
    }
  }
  &.xs {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
    & > svg {
      width: var(--icon-size-xs);
      height: var(--icon-size-xs);
    }
  }
  &.s {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    & > svg {
      width: var(--icon-size-s);
      height: var(--icon-size-s);
    }
  }
  &.m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    & > svg {
      width: var(--icon-size-m);
      height: var(--icon-size-m);
    }
  }
  &.l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
    & > svg {
      width: var(--icon-size-l);
      height: var(--icon-size-l);
    }
  }
  &.xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
    & > svg {
      width: var(--icon-size-xl);
      height: var(--icon-size-xl);
    }
  }
}
