.meter {
  position: relative;
  height: var(--terminal-progress-bar-height);
  background: transparent;
  overflow: hidden;
  width: 100%;
  > .progress {
    background-color: var(--terminal-progress-bar-bg-color);
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
    height: 100%;
    display: block;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
