$space: var(--system-size-xs);

.top_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space;
  height: var(--terminal-top-height);
  background-color: var(--terminal-top-bg-color);
  > .left_component {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    &:hover {
      > li:after {
        display: flex;
      }
    }
    > li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--system-size-s);
      height: var(--system-size-s);
      border-radius: 50%;
      margin-left: calc($space * 2);
      &:after {
        position: absolute;
        display: none;
        font-size: calc(var(--text-size-xs) - 2px);
      }

      &.close {
        background-color: rgb(255, 92, 86);
        &:after {
          content: '\2A09';
        }
      }
      &.minimize {
        background-color: rgb(255, 189, 50);
        &:after {
          bottom: 35%;
          content: '\005F';
        }
      }
      &.maximize {
        background-color: rgb(3, 205, 75);
        &:after {
          content: '\1F5D6';
        }
      }
    }
  }
  .header {
    font-size: var(--text-size-s);
    color: var(--terminal-text-color);
  }
  .command_tool {
    margin-right: $space;
    &:after {
      color: var(--terminal-text-color);
      font-size: var(--text-size-xs);
      content: '\2325 \2318 \0031';
    }
  }
}
