.copy--button {
  margin: var(--stories-size-xxxs) 0;
  background-color: transparent;
  border-radius: var(--stories-size-xxs);
  border: 1px solid var(--stories-color-silver-light);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
}

.copy--button:hover {
  border-color: var(--stories-color-mussla);
}

.copy--button:hover span {
  opacity: 0;
}

.copy--button:hover:after {
  content: 'Copy';
  position: absolute;
  white-space: nowrap;
  color: var(--stories-color-mussla);
}
