.stories--section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 0 var(--stories-size-s) 0;
  box-sizing: border-box;
}

.stories--section h3 {
  color: var(--stories-color-mussla);
}

.stories--section--paragraph {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: var(--stories-size-s);
  margin: var(--stories-size-xs) 0;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 1);
  border-radius: var(--stories-size-xs);
}
