.text {
  font-size: var(--terminal-text-block-font-size);
  font-weight: var(--terminal-text-block-font-weight);
  color: var(--terminal-text-block-color);
}

.list {
  flex-direction: column;
  align-items: flex-start;
}
