@import 'NewData.module.scss';

.content {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: var(--metrics-size-s);
  border-radius: var(--metrics-size-s);
  overflow-y: auto;
}
