.design-system-list-item {
  padding: var(--stories-size-xxs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.design-system-list-item .name-description {
  display: flex;
  flex-direction: inherit;
}

.design-system-list-item .name-description span {
  margin-bottom: var(--stories-size-xxs);
}
