.terminal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: var(--terminal-min-width);
  min-height: var(--terminal-min-height);
  background-color: var(--terminal-bg-color);
  border-radius: var(--system-size-s);
  border: 1px solid var(--terminal-border-color);
  overflow: auto;
}
