.terminal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  background-color: var(--system-background-color);
  border-radius: var(--system-size-s);
  border: 1px solid var(--system-primary-accent-color);
  overflow: auto;
}
