.tab-wrapper {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
  padding: 0;
}

.tab-wrapper::-webkit-scrollbar {
  display: none;
}
.tab-content {
  align-items: center;
  justify-items: center;
  background-color: transparent;
  margin: 0;
}
.tab-content button {
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  background-color: transparent;
  padding: var(--metrics-size-xs) var(--metrics-size-l);
  margin: 0;
  height: 100%;
  border-bottom: var(--tab-border-width) solid var(--tab-border-color);
}

.tab-content.active button {
  border-bottom: var(--tab-border-width) solid var(--tab-active-color);
}

.tab-content.active button .tab-text {
  color: var(--tab-active-color);
}

.tab-content.active button svg path {
  fill: var(--tab-active-color);
}

.tab-content button:disabled {
  border-bottom: var(--tab-border-width) solid var(--tab-disabled-color);
}

.tab-content button:disabled .tab-text {
  color: var(--tab-disabled-color);
}

.tab-content button:disabled .icon svg path {
  fill: var(--tab-disabled-color);
}
