.price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.price .left .middle .right {
  width: auto;
}

.price .left {
  padding-right: var(--price-padding);
}

.price .right {
  padding-left: var(--price-padding);
}
